<%- include('./partials/header.ejs') %>
        <a class="nav-link" href="/projects/<%= project.id %>/newMaterial">Add Material</a>
        <a class="nav-link" href="/projects/<%= project.id %>/material/<%= materialIndex %>">Back</a>
    </nav>
    <h2>Edit Material</h2>
    <form action="/projects/<%= project.id %>/material/<%= materialIndex %>?_method=PUT" method="POST">
        <label for="material-name">Name:</label>
        <input type="text" value="<%= material.materialName %>" id="material-name" name="materialName"/>
    </br>
        <label for="material-store">Store:</label>
        <input type="text" value="<%= material.store %>" id="material-store" name="store"/>
    </br>
        <label for="material-notes">Notes:</label>
        <input type="text" value="<%= material.materialNotes %>" id="material-notes" name="materialNotes"/>
    </br>
        <label for="material-est-cost">Estimate Cost:</label>
        <input type="number" value="<%= material.estCost %>" id="material-est-cost" name="estCost"/>
    </br>
        <label for="material-act-cost">Actual Cost:</label>
        <input type="number" value="<%= material.actCost %>" id="material-act-cost" name="actCost"/>
    </br>
        <label for="material-date">Purchase Date:</label>
        <input type="date" value="<%= material.purchaseDate %>" id="material-date" name="purchaseDate"/>
    </br>
        <label for="material-tracking">Tracking #:</label>
        <input type="text" value="<%= material.trackingNum %>" id="material-tracking" name="trackingNum"/>
    </br>
        <label for="material-image">Image:</label>
        <input type="text" value="<%= material.materialImg %>" id="material-image" name="materialImg"/>
    </br>
        <label for="material-complete">Complete:</label>
        <input type="checkbox" id="material-complete" name="materialComplete"
            <%= project.projectComplete ? 'checked' : 'unchecked' %>
        />
    </br>
        <input type="submit" value="Update Material"/>
    </form>
<%- include('./partials/footer.ejs') %>
