<%- include('./partials/header.ejs') %>
</nav>    
<h2>Current Projects</h2>
    <ul>
        <% for (let i = 0; i < projects.length; i++) { %>
            <li>
                <a href="/projects/<%= projects[i].id %>">
                    <%= projects[i].projectName %>
                </a>
                <%- projects[i].projectComplete === true ? ' - Complete' : '' %>
            </li>
        <% } %>
    </ul>
<%- include('./partials/footer.ejs') %>
