<%- include('./partials/header.ejs') %>
        <a href="/projects/<%= project.id %>/material/<%= materialIndex %>/editMaterial">Edit Material</a>
    </nav>
    <h2>Material Show Page</h2>
    <h2><%= material.materialName %></h2>
    <p>
        <label class="material-data">Store:</label> <%= material.store %> </br>
        <label class="material-data">Notes:</label> <%= material.materialNotes %> </br>
        <label class="material-data">Estimated Cost:</label> $<%= material.estCost %> </br>
        <label class="material-data">Actual Cost:</label> <%= material.actCost %> </br>
        <label class="material-data">Purchase Date:</label> <%= material.purchaseDate %> </br>
        <label class="material-data">Tracking #:</label> <%= material.trackingNum %> </br>
    </p>
    <div class="show-material-image">
        <!-- <% console.log(project.projectImg) %> -->
        <img src="<%= material.materialImg %>" alt="Image for the <%= material.materialName %> material." />
    </div>
    <form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/>
    </form>

<%- include('./partials/footer.ejs') %>
